
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526726538690-5cbf956ae2fd?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNhcnN8ZW58MHx8MHx8fDA%3D);">
  <div class="container">
    <h1>Awesome Garage</h1>
    <p>Your personal garage with the cars of your dreams</p>
    <%# <a class="btn btn-primary" href="#">Enter</a> %>
    <%= link_to "Enter", cars_path, class: "btn btn-primary" %>
  </div>
</div>
