.navbar {
  justify-content: space-between;
  background: rgb(63, 62, 62);
  padding: 16px;
  color: white;
}


.navbar img {
  width: 40px;
}

.logo-navbar {
  display: flex;
  gap: 8px;
  // background-color: red;
}

.navbar-links {
  a {text-decoration: none;
    color: white;
  }
  display: flex;
  gap: 10px;

}
